/**
* Created by duydatpham@gmail.com 
* Copyright (c) 2019 duydatpham@gmail.com
*
*/
export const DEFAULT_ACTION = 'action/{{ lowerCase name }}/DEFAULT_ACTION'

export const defaulAction = () => {
  return {
    type: DEFAULT_ACTION
  }
}