/**
* Created by duydatpham@gmail.com 
* Copyright (c) 2019 duydatpham@gmail.com
*
*/

import React, { PureComponent } from 'react';
import { StyleSheet, View } from 'react-native'
{{#if hasRedux}}
import { connect } from 'react-redux'
{{/if}}

class {{ properCase name }} extends PureComponent { 
  render() {
    return (
      <View style={styles.container} >

      </View>
    );
  }
}

{{#if hasRedux}}


const mapDispatchToProps = {
}

const mapStateToProps = (state) => {
  return {
    language: state.config.language
  }
}


const styles = StyleSheet.create({
  container: {
    flex: 1,
  },
})

export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }})
{{else}}
export default {{ properCase name }};
{{/if}}
