/**
* Created by duydatpham@gmail.com 
* Copyright (c) 2019 duydatpham@gmail.com
*
*/

import { fromJS } from 'immutable';
import {
  DEFAULT_ACTION,
} from '../actions/{{ lowerCase name }}';

const initialState = fromJS({});

function {{ camelCase name }}Reducer(state = initialState, action) {
  switch (action.type) {
    case DEFAULT_ACTION:
      return state;
    default:
      return state;
  }
}

export default {{ camelCase name }}Reducer;
