/**
* Created by duydatpham@gmail.com 
* Copyright (c) 2019 duydatpham@gmail.com
*
*/

import React, { PureComponent } from 'react'
import { StyleSheet, View } from 'react-native'
{{#if hasLanguage}}
import langs from '../../languages/{{ lowerCase name }}'
{{/if}}

export default class extends PureComponent { 
  render() {
    return (
      <View style={styles.container} >
        
      </View>
    );
  }
}

const styles = StyleSheet.create({
  container: {
    flex: 1
  },
})

